#title {
    text-align:center;
    margin: 0 0 1em ;
}
#card-subtitle {
    width: 50%;
    text-align: center;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}